<form [formGroup]="loginForm">
    <div class="form-group">
        <div>
            <p class="text">USERNAME</p>
            <input  placeholder="INSERIRE L'USERNAME:" name="username" required formControlName='username'>
            <div *ngIf="usernameControl.invalid && usernameControl.dirty ">
                <span>Il campo USERNAME è obbligartorio. Inserire un nome tra i 5 e i 10 cararreri nome per accedere.</span>
            </div> 
        </div>
        <div>
            <p>PASSWORD</p>
            <input (keyup.enter)="login()"  placeholder="INSERIRE LA PASSWORD:" name="password" required formControlPassword='password' >
            <div *ngIf="usernameControl.invalid && usernameControl.dirty ">
                <span>Il campo PASSWORD è obbligartorio. Inserire una password di minimo 5 caratteri per accedere.</span></div>
            </div>
        
        <button [disabled] type="submit"> Submit </button>
   </div>
</form>